/* For Custom Styling */

#header-wrapper {
    background-image: url("https://coronavirus.jhu.edu/static/media/hero-virus.75f6be07.jpg");
    background-repeat: no-repeat;
    background-size: cover !important;
}

.actions .button {
    font-weight: 900 ;
    font-size: large;
}

.actions .button1 {
    font-weight: 900 ;
    font-size: large;
    border-radius: 0.5em;
    border-width: 0.2em;
}
.actions .button1:hover{
    color: darkgoldenrod !important;
    border-color: darkgoldenrod !important;
    /*background-color: azure ;*/
}
.actions .button2 {
    font-weight: 900 ;
    font-size: 1em;
    border-radius: 0.5em;
    border-width: 0.2em;
}
.actions .button2:hover{
    color: darkgoldenrod !important;
    border-color: darkgoldenrod !important;
    /*background-color: azure ;*/
}