/* For Custom Styling */

#header-wrapper {
    background-image: url("https://coronavirus.jhu.edu/static/media/hero-virus.75f6be07.jpg");
    background-repeat: no-repeat;
    background-size: cover !important;
}

#button1 {
    display: inline-block;
    font-family:'Roboto',sans-serif;
    text-align:center;  
    font-weight: 900 ;
    font-size: large;
    border-radius: 0.5em;
    border-width: 0.2em;
}
#button1:hover{
    color: darkgoldenrod;
    border-color: darkgoldenrod;
    /*background-color: azure ;*/
}
#button2 {
    display: inline-block;
    font-family:'Roboto',sans-serif;
    text-align:center;  
    font-weight: 900 ;
    font-size: 1em;
    border-radius: 0.5em;
    border-width: 0.2em;
}
#button2:hover{
    color: darkgoldenrod;
    border-color: darkgoldenrod;
    /*background-color: azure ;*/
}